@charset "UTF-8";
/* line 14, ../sass/define.scss */
* {
  font-family: "A-OTF Gothic BBB Pr6N";
  box-sizing: border-box;
}

/* line 20, ../sass/define.scss */
a {
  text-decoration: none;
}

/* line 25, ../sass/define.scss */
li {
  list-style: none;
}

/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/pc.scss */
.header_top {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
/* line 11, ../sass/pc.scss */
.header_top img {
  height: 30px;
  width: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 16, ../sass/pc.scss */
section.main {
  background-color: #eeeeee;
  padding: 100px 0;
}

/* line 21, ../sass/pc.scss */
#main_login, #main_password_change, #main_password_reset, #main_profile_edit, #main_register {
  width: 1000px;
  border: 1px solid #000;
  background-color: white;
  margin: 0 auto;
  padding: 50px 150px;
}
/* line 27, ../sass/pc.scss */
#main_login h2, #main_password_change h2, #main_password_reset h2, #main_profile_edit h2, #main_register h2 {
  font-size: 18px;
  padding: 15px 0;
}
/* line 31, ../sass/pc.scss */
#main_login input, #main_password_change input, #main_password_reset input, #main_profile_edit input, #main_register input {
  margin: 5px 0;
}
/* line 34, ../sass/pc.scss */
#main_login a, #main_password_change a, #main_password_reset a, #main_profile_edit a, #main_register a {
  color: #009245;
}
/* line 37, ../sass/pc.scss */
#main_login h1, #main_password_change h1, #main_password_reset h1, #main_profile_edit h1, #main_register h1 {
  font-size: 22px;
  padding: 5px 0;
}

/* line 49, ../sass/pc.scss */
#main_password_reset p {
  padding: 15px 0;
}

/* line 56, ../sass/pc.scss */
#main_profile_edit img {
  height: 200px;
  width: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 59, ../sass/pc.scss */
#main_profile_edit button {
  margin: 5px 0;
}

/* line 68, ../sass/pc.scss */
input.btn_green {
  background: #009245;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border-style: none;
  color: white;
  padding: 5px 20px;
}
/* line 74, ../sass/pc.scss */
input.btn_green:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 81, ../sass/pc.scss */
#wrapper_top {
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 1000px;
  margin: 0 auto;
}
/* line 88, ../sass/pc.scss */
#wrapper_top div {
  flex: 1;
}
/* line 92, ../sass/pc.scss */
#wrapper_top #main_top {
  flex: 1.5;
}

/* line 97, ../sass/pc.scss */
#profile-side {
  background-color: #eeeeee;
  height: 300px;
  border: 1px solid #000;
  box-sizing: border-box;
}

/* line 104, ../sass/pc.scss */
#main_top {
  background-color: #FFFFFF;
  height: 1000px;
  border: 1px solid #000;
  box-sizing: border-box;
}

/* line 111, ../sass/pc.scss */
#right_space {
  background-color: #eeeeee;
  height: 1000px;
  border: 1px solid #000;
  box-sizing: border-box;
}

/******************
* サイドプロフィール
******************/
/* line 124, ../sass/pc.scss */
#profile-side .profile-background-image {
  height: 100px;
  background-image: url("../../images/profile-back-image.JPG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 132, ../sass/pc.scss */
#profile-side .user-profile {
  display: flex;
}
/* line 135, ../sass/pc.scss */
#profile-side .user-profile .user-image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-image: url("../../images/profile-image.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/* line 147, ../sass/pc.scss */
#profile-side .user-count {
  display: flex;
}
/* line 150, ../sass/pc.scss */
#profile-side .user-count div {
  flex: 1;
  text-align: center;
}

/******************
* メイン（トップページ）
******************/
/* line 167, ../sass/pc.scss */
#main_top #post_field .post-buttons {
  display: flex;
  align-items: flex-end;
}

/******************
* メイン（ユーザー一覧）
******************/
/* line 179, ../sass/pc.scss */
#main_users_list {
  display: flex;
  flex-wrap: wrap;
}
/* line 197, ../sass/pc.scss */
#main_users_list div {
  width: 100px;
  margin-right: 20px;
}
